[submodule "SaarFFmpeg"]
	path = Dependencies/SaarFFmpeg
	url = https://github.com/MikiraSora/SaarFFmpeg/
[submodule "OpenTkControl"]
	path = Dependencies/OpenTkControl
	url = https://github.com/MikiraSora/OpenTkControl
