<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Packaging.Tools.Trimming" version="1.1.0-preview1-26619-01" targetFramework="net471" />
  <package id="OpenTK" version="2.0.0" targetFramework="net452" />
  <package id="SharpGL" version="2.4.1.2" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0-preview.18571.3" targetFramework="net471" />
</packages>